a {
  color: red;
}
.start-block {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  transition: display 3s ease 3s;
  z-index: 1000;
}
.start-block--disabled {
  pointer-events: none;
}
.start-block__consulting,
.start-block__adviser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: width 1s ease 0s, opacity 1s ease 0.5s;
  opacity: 1;
}
.start-block__consulting:hover,
.start-block__adviser:hover {
  width: 150%;
}
.start-block__consulting--selected,
.start-block__adviser--selected {
  width: 100%;
  opacity: 0;
}
.start-block__consulting--unselected,
.start-block__adviser--unselected {
  width: 0;
  opacity: 0;
  pointer-events: none;
}
.start-block__adviser {
  background-color: #FFB774;
}
.start-block__consulting {
  background-color: #E8E25E;
}
.start-block__title {
  font-size: 30px;
  white-space: nowrap;
  color: #171717;
  font-family: 'PT Sans', sans-serif;
}
.adviser-block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background-color: #c6c4ff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adviser-block__text-input {
  width: 340px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.adviser-block__submit-button {
  display: block;
  width: 340px;
  height: 60px;
  background-color: #77B288;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 40px;
  color: #fff;
  cursor: pointer;
  line-height: 60px;
  font-size: 18px;
}
.check-iq__title {
  font-size: 30px;
  color: #171717;
}
.check-iq__bar-wrapper {
  margin: 40px auto;
  width: 340px;
}
.check-iq__bar {
  width: 320px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  position: relative;
  top: 12px;
  z-index: 1;
}
.check-iq__circle {
  left: 143px;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #ffda22;
  z-index: 20;
}
.check-iq__counter-container {
  width: 150px;
  height: 59px;
  margin: 0 auto;
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.33);
}
.check-iq__counter {
  color: #fff;
  font-size: 30px;
  line-height: 58px;
}
.check-iq__submit-button {
  display: block;
  width: 340px;
  height: 60px;
  background-color: #77B288;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  line-height: 60px;
  font-size: 18px;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 2000;
  transition: 1s all;
  visibility: visible;
}
.preloader__loader {
  position: absolute;
  width: 75px;
  height: 75px;
  border: 10px solid white;
  border-radius: 50%;
  border-top-color: blue;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 2s spin infinite linear;
          animation: 2s spin infinite linear;
}
.preloader__done {
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.advice-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.advice-form__text-input {
  width: 100%;
}
.advice-form__submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #77B288;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.consulting-block {
  text-align: center;
  background-color: #c6c4ff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
.disabled-block {
  display: none;
  pointer-events: none;
}
