@import "_mixins";

.adviser-block,
.consulting-block {
	text-align: center;
	background-color: #c6c4ff;
	height: 100vh;

	&__title {
		font-size: 30px;
		color: @text-black-color;
		padding-top: 75px;
	}
}
 